.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    var(--primary-color), 
    darken(var(--primary-color), 15%)
  );

  .content {
    text-align: center;
    color: var(--text-light);
    padding: 2rem;
    
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    
    button {
      background-color: var(--accent-color);
      margin-top: 2rem;
    }
  }
}

